<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>/Home</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>project.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>project.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>project.servlets.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>project.servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMain</display-name>
    <servlet-name>ServletMain</servlet-name>
    <servlet-class>project.servlets.ServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMain</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLoggedIn</display-name>
    <servlet-name>IsLoggedIn</servlet-name>
    <servlet-class>project.servlets.IsLoggedIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLoggedIn</servlet-name>
    <url-pattern>/IsLoggedIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegister</display-name>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>project.servlets.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletWatch</display-name>
    <servlet-name>ServletWatch</servlet-name>
    <servlet-class>project.servlets.ServletWatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWatch</servlet-name>
    <url-pattern>/Watch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserManagment</display-name>
    <servlet-name>ServletUserManagment</servlet-name>
    <servlet-class>project.servlets.ServletUserManagment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserManagment</servlet-name>
    <url-pattern>/UserManagment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogOut</display-name>
    <servlet-name>ServletLogOut</servlet-name>
    <servlet-class>project.servlets.ServletLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>project.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAddComment</display-name>
    <servlet-name>ServletAddComment</servlet-name>
    <servlet-class>project.servlets.ServletAddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAddVideo</display-name>
    <servlet-name>ServletAddVideo</servlet-name>
    <servlet-class>project.servlets.ServletAddVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAddVideo</servlet-name>
    <url-pattern>/AddVideo</url-pattern>
  </servlet-mapping>
</web-app>