* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background: #1a1a1a;
    width: 100%;    
    height: 100%;
}

body {
	height: 100%;
}
#searchForm {
	color: white;
	margin: 2%;
	margin-top: 100px;
}

#searchForm input {
	width : 19%;
	background-color: #050505;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
P{
	margin-left: 2%;
	color: white;
}
select {
	margin-left: 2%;
	width : 19%;
	background-color: #050505;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
#content {
	width: 100%;
	margin-top: 1%;
	float: right;
	overflow-x: auto;
	padding: 0 3%;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;

}

.vidDiv {
	width: 98%;
	height: 10vw;
	background: white;
	margin: 1%;
	display: inline-block;
}
.aboutDiv {
	display: inline-block;
	width: 21%;
	background: white;
	margin: 2%;

}