iframe{
	margin-top: 100px;
	display: table;

}
h2 {
	margin-left: 5%;
	display: table;
	color: white;
}
 
#comments {
	color: white;
	margin: 1%;
	width: 560px;
	max-width: 560px;
}

#comments h2{
	color: white;
	margin: 1%;
}
#commentForm {
	margin-left: 5%;
	margin-bottom: 2%;
	width: 500px;
}

#commentForm input {
	background-color: #1a1a1a;;
    color: white;
    padding: 5px;
    border: none;
}

#textComment {
	resize: none;
	width: 500px;
	background-color: #1a1a1a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#videoContainer {
	margin-left: 5%;
	display: table;
	background: #050505;
}

#comments{
	margin-left: 5%;
	display: table;
	background: #050505;
}

.comDiv {
	 background: #1a1a1a;
	 margin: 2%;
	 padding-bottom: 3%;
}
#owner {
	margin-left: 10%;
	display: tablew;
	color: white;
}

#date {
	margin-left: 10%;
	display: table;
	color: white;
}

.vote {
	float: right;
	display: inline-block;
	width: 80px;
}

.vote:hover {
	cursor: pointer;
	}
.vote img {
	display: inline-block;
}
.vote p {
	display: inline-block;
	width: auto;
}

button {
		width : 19%;
	background-color: #1a1a1a;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    margin-left : 2%; 	
}